<?xml version="1.0"?>
<model>
  <name>gaimsat_target</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NDH</name>
  </author>
  <description>GAIMSat-1 high-fidelity target satellite (6U CubeSat, Blender 5.0.1 export, decimated)</description>
</model>
