<?xml version="1.0"?>
<model>
  <name>cmg_testbed</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NDH</name>
  </author>
  <description>
    Single-axis CMG dynamics testbed.
    1x CMG (gimbal Y-axis, wheel spin X-axis) on 150mm cube body.
    For verifying gyroscopic precession in Gazebo DART physics.
  </description>
</model>
