<?xml version="1.0"?>
<model>
  <name>cubesat_cmg</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NDH</name>
  </author>
  <description>
    150mm CubeSat with 2x parallel VSCMGs for attitude control.
    MATLAB dynamics comparison model (hanul2026_scie/cube_sat_hanul).
  </description>
</model>
