<?xml version="1.0"?>
<model>
  <name>mars_hexacopter_cmg500</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NDH</name>
  </author>
  <description>Mars hexacopter with Mini CMG 500 + MulticopterMotorModel plugins. Ref: Yang et al., Sensors 2024, Mini CMG 500 spec.</description>
</model>
