<?xml version="1.0"?>
<model>
  <name>mars_hexacopter_cmg500_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>NDH</name>
  </author>
  <description>Mars hexacopter base model with Mini CMG 500 (Momentum Space). Same 5kg airframe, CMG: MOI=1.603e-4, 30000RPM, 0.5Nms. Ref: Yang et al., Sensors 2024.</description>
</model>
